<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<hr>

<% @restaurant.reviews.each do |review| %>
  <p><strong>Rating: </strong><%= review.rating %></p>
  <p><strong>Comment: </strong><%= review.content %></p>
  <%= link_to "Delete Review", restaurant_review_path(review), method: :delete, data: { confirm: "Are you sure you want to delete"} %>
  <hr>
<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
<%= link_to 'Add Review', new_restaurant_review_path(@restaurant) %>
